<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>VenShop Hello World | <%= yield(:title) %></title>
  </head>
  <body>
  	
    <div class="center hero-unit">
      <h1>Welcome to the VenShop</h1>
    </div>
  </body>
</html>