<h1>Listing cates</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cates.each do |cate| %>
  <tr>
    <td><%= link_to 'Show', cate %></td>
    
    <% @user = current_user %>
    
    <% if @user.present? %>
      <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_cate_path(cate) %></td>
      <td><%= link_to 'Destroy', cate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cate', new_cate_path %>
